<head>
    <link href="task7.css" rel="stylesheet" type="text/css">
</head>
<div class="header">
    <span>法官日记</span>
    <a href="#"><img class="icon1" src="img-js-task2/back.png"></a>
    <a href="#"><img class="icon2" src="img-js-task2/close.png"></a>
</div>
<div class="content">
    <div class="first-day">
        <span id="day">第 1 天</span>
    </div>
    <div class="process">
        <div class="step" ng-click="kill('killer')">杀手杀人</div>
        <div class="step" ng-click="kill('police')">警察验人</div>
        <div class="step" ng-click="kill('sniper')">狙击狙人</div>
        <div class="step" ng-click="kill('doctor')">医生救人</div>
        <div class="blank"></div>
        <div class="step">亡灵发表遗言</div>
        <div class="step">玩家依次发言</div>
        <div class="step">投票</div>
        <img class="night" src="img-js-task2/night.png">
        <img class="day" src="img-js-task2/day.png">
        <div class="line"></div>
    </div>
</div>