<head>
    <link href="task7.css" rel="stylesheet" type="text/css">
</head>
<div class="header">
    <span>黑夜解密</span>
    <a href=""><img class="icon1" src="img-js-task2/menu.png"></a>
    <a href="#"><img class="icon2" src="img-js-task2/close.png"></a>
</div>
<div class="content2 content3">
    <img class="cry" src="img-js-task2/dead.png">
    <div id="result"></div>
    <div class="footer footer2">
        <div id="step1" class="step2">亡灵发表遗言</div>
        <div id="step2" class="step2">玩家依次发言讨论</div>
        <button id="submit" ng-click="vote()">去投票</button>
    </div>
</div>