@media (min-width: 768px){
    html{
        font-size: 12px;
    }
}
@media (min-width: 992px){
    html{
        font-size: 14px;
    }
}
@media (min-width: 1200px){
    html{
        font-size: 16px;
    }
}
body{
    width: 100%;
    background-color: rgb(250,250,250);
}
h1 {
    font-family: 微软雅黑;
    font-size: 1.125rem;
    color: black;
    text-align: center;
    font-weight: bold;
    margin: 2rem 0;
}
p{
    font-family: 微软雅黑;
    font-size: 1rem;
    color: gray;
    text-align: left;
}
a{
    color: white;
    text-decoration: none;
}
.container{
    width: 100%;
    margin: 0;
    padding: 1rem 0 3rem;
    position: relative;
}
.container:first-child{
    padding: 0;
}
.row{
    width: 62.5%;
    margin: 0 18.75%;
    padding: 0;
}
.col-sm-3{
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
}
.header{
    width: 62.5%;
    height: 2.5rem;
    line-height: 2.5rem;
    margin: 0 18.75%;
    padding: 0;
}
.header span{
    font-family: 微软雅黑;
    color: rgb(41,176,120);
    font-size: 0.875rem;
}
.header img{
    height: 2rem;
    float: right;
    margin: 0.25rem;
}
.header img:after{
    clear: both;
    height: 0;
    margin: 0;
    padding: 0;
}
.navbar-inverse{
    background-color: rgb(41,176,120);
    border: 0;
    border-radius: 0;
    margin: 0;
    /*height: 100px;*/
}
.navbar-inverse .container-fluid{
    padding: 0 18.75%;
}
.navbar-inverse .container-fluid .navbar-right li a{
    color: white;
    font-family: 微软雅黑;
    font-size: 1rem;
}
.navbar-right li a:hover{
    padding-bottom: 10px;
    border-bottom: 5px solid white;
}
/*---------------------------------*/
img.qrcode{
    max-width: 6rem;
    height: auto;
}
span{
    font-family: 微软雅黑;
    font-size: 1rem;
    color: white;
    line-height: 3rem;
}
span a{
    font-size: 0.875rem;
    padding: 0.3rem 0;
}
span a:hover{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}
.footer{
    width: 100%;
    height: 4rem;
    margin: 0;
    background-color: rgb(41,176,120);
}
p.copyright{
    color: white;
    font-size: 0.75rem;
    text-align: center;
    line-height: 2rem;
    margin: 0;
}
@media (min-width: 768px){
    .row{
        width: 90%;
        margin: 0 5%;
    }
    .header{
        width: 90%;
        margin: 0 5%;
    }
    .navbar-inverse .container-fluid{
        padding: 0 5%;
    }
    .partner{
        width: 90%;
        margin: 0 5%;
    }
    .footer{
        height: 2rem;
    }
}
@media (min-width: 992px) and (max-width: 1200px), (max-width: 480px){
    .row{
        width: 80%;
        margin: 0 10%;
    }
    .header{
        width: 80%;
        margin: 0 10%;
    }
    .navbar-inverse .container-fluid{
        padding: 0 10%;
    }
    .partner{
        width: 80%;
        margin: 0 10%;
    }
}